<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/global-processed.css" />
  {% if extraStyle %} {% for styleLink in extraStyle %}
  <link rel="stylesheet" href="{{ styleLink }}" />
  {% endfor %} {% endif %}
  <meta
    name="description"
    content="
  {% if description %}
  {{ description }}
  {% else %}
  {{ site.description }}
  {% endif %}
  "
  />
  <title>{{ title }}</title>
</head>
<body class="margin-auto">
  <main class="prose font-serif margin-auto">
    <h1 class='text-center'><a href='/' class='no-underline'>The Long Reflection</a></h1>
    <nav class='max-w-xs m-auto'>
      <ul class="flex list-none p-0 font-sans">
        <li class="flex-1 mr-2 text-center p-0"><a class='no-underline hover:underline' href="/" {% if page.url == '/' %} aria-current="page"{% endif %}>Intro</a></li>
        <li class="flex-1 mr-2 text-center p-0"><a class='no-underline hover:underline' href="/faq" {% if page.url == '/faq' %} aria-current="page"{% endif %}>FAQ</a></li>
        <li class="flex-1 mr-2 text-center p-0"><a class='no-underline hover:underline' href="/further-reading" {% if page.url == '/further-reading' %} aria-current="page"{% endif %}>Read more</a></li>
      </ul>
    </nav>

    <h2>{{ title }}</h2>
    {{ content | safe }}
    <br />
    <small>&copy; {{ site.copyrightYear }}. Text by <a href="https://www.tobyord.com">Toby Ord</a> and <a href="https://www.finmoorhouse.com">Fin Moorhouse</a>.</small>
  </main>

    <!-- Netlify Identity Widget -->
    {% if path == "home" %}
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
    
</body>
