@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 1em;
  scroll-behavior: smooth;
}

main {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
}

.header-anchor {
  text-decoration: none;
}

.header-anchor:hover ::after {
  content: "\0023";
  opacity: 0.6;
  padding-left: 0.2em;
}

.header-anchor:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 0.5px;
}
